body
{
    margin: 0px;
    padding: 0px;
    background-color: #d1c6c6;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

nav 
{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 55px;
    background-color; #fff;
    box-shadow: 2x 2px 12px rgba(0, 0, 0, 0,2);
    padding: 0px 5%;
}

nav ul
{
    display: flex;
}

nav ul li a
{
    margin: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', poppins, 'Trebuchet MS', sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 650;
}

nav ul li a:hover
{
    background-color: #443f3f;
    color:beige #fff;
    border-radius: 5px;
}

.logo
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    font-size: 15px;
    font-weight: bold;
}

#home
{
    width:100%;
    height: 95vh;
    position: relative;

}
.home p
{
    line-height: 0px;
    margin: 25px 0px 40px;
}

.home p:nth-child(1)
{
    font-family: 'Gill Sans', 'Gill Sans MT', poppins, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black #000;
    font-size: 50px;
}

.home p:nth-child(2)
{
    font-family: 'Gill Sans', 'Gill Sans MT', poppins, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #130d0d;
    letter-spacing: none;
    font-size: 30px;
}

.home p:nth-child(3)
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:  #4b4949;
    font-size: 25px;
}

.home p:nth-child(4)
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black #000;
    font-size: 30px;
    line-height: 10px;
}

.home
{
    position: absolute;
    left: 10%;
    right: 10%;
    transform: translate(13% , 42% );
}

.picture
{
    width: 400px;
    height: auto;
    position: absolute;
    left: 80%;
    top: 20%;
    transform: translateX(-70%)
}

.about
{
    height: 55vh;
    background-color: #fff;
    padding: 2% 10% 10%;
}

.about-desc
{
    margin: 50px 50px;
}

.about-desc p:nth-child(1)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #1d1c1c;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.about-desc p:nth-child(2)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f0c0c;
    text-align: center;
}

.row
{
    margin: 30px;
    padding: 20px;
    display: flex;
}

.row .column h2
{
    text-align: center;
}

.row .column p
{
    text-align: justify;
}
.column
{
    flex: 50%;
    padding: 30px;
    height: 200px;
}

/* skill */
.skill
{
    height: 65vh;
    background-color: #4b4949;
    padding: 2% 10% 10%;
}

.skill-desc
{
    margin: 50px 50px;
}

.skill-desc p:nth-child(1)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #4b4949;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.skill-desc p:nth-child(2)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4b4949;
    text-align: center;
}

.box-container
{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.box-1, .box-2, .box-3
{
    width: 350px;
    height: 350px;
    box-shadow: 2px 12 px 18px rgba(0, 0, 0, 0,2);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: opx 5px;
}
.box-1 span, .box-2 span, .box-3 span
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #7e7d7d;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#505050;
    width: 250px;
    margin: 0px 0px 50px 0px;
}

/* contact */
.contact
{
    height: 75vh;
    background-color: #fff;
    padding: 2% 10% 10%;
}

.contact-desc
{
    margin: 50px 50px;
}

.contact-desc p:nth-child(1)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 100px;
}

.contact-desc p:nth-child(2)
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0f0f0f;
    text-align: center;
}

input[type=text], select, textarea
{
    width: 100%;
    padding: 12px;
    border: 1px solid #7e7d7d;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit]
{
    background-color: #dad1d1;
    color:#505050;
    padding:12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover
{
    background-color: #fcfafa;
}

input:active
{
    transfrom: scale(1,1);
}

/* footer */
footer
{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #d1c6c6;
}

footer p
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer p:nth-child(1)
{
    font-size: 25px;
    font-weight: bold;
    color: #292828;
}

footer p:nth-child(2)
{
    font-size: 17px;
    font-weight: bold;
    color: #636262;
    line-height: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.social-icons
{
    margin: 30px 30px;
    display: flex;
    text-align: center;
    padding-bottom: 50px;

}

.social-icons a
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    background-color: #ddd7d7;
    border-radius: 50%;
}

.social-icons i
{
    font-size: 35px;
    color: #727171;
}

.social-icons a:hover
{
    background-color: #fdfdfd;
    box-shadow: 2px 2px 2px;rgba
}